/**
* Main styles for the oneaccess plugin.
*/
.toplevel_page_oneaccess .tab-panel .tab-nav__wrapper {

	.tab-nav__button {
		box-shadow: none;
		font-weight: 500;
		height: 48px !important;
		position: relative;
		align-items: center;
		-webkit-appearance: none;
		appearance: none;
		background: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		color: var(--wp-components-color-foreground, #1e1e1e);
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		margin: 0;
		padding: 6px 12px;
		text-decoration: none;

		&::after {
			background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
			border-radius: 0;
			bottom: 0;
			content: "";
			height: calc(var(--wp-admin-border-width-focus) * 0);
			left: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
		}
	}

	.tab-nav__button--active {

		&::after {
			height: 1.5px;
			outline: 2px solid #0000;
			outline-offset: -1.5px;
		}
	}
}
